@theme {
  --color-primary: #36454F; /* Gris Carbón Profundo */
  --color-secondary: #424E55; /* Gris Grafito */
  --color-cta: #600101; /* Rojo Borgoña */
  --color-bgmain: #F8F9FA; /* Blanco Off-white */
  --color-bgalt: #F0F2F4; /* Gris Muy Pálido / Niebla */
  --color-body: #2A3A42; /* Gris Profundo */
  --font-sans: 'Inter', system-ui, sans-serif;
}
